<div class="center jumbotron">
    <h1>Welcome to Mini Rails</h1>
    <h2>Welcome to <a href="https://glacial-journey-6038.herokuapp.com/">Mini Rails</a> A twitter like app built with Rails 4.20.</a>
    </h2>
  <%=link_to"Sign Up Now", signup_path, class:"btn btn-lg btn-primary" %>  
</div>

<%= link_to image_tag("rails.png", alt:"Rails logo"), 
  'https://rubyonrails.org'%>
 
